<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
    <!-- Website Template designed by www.downloadwebsitetemplates.co.uk -->
    <!-- Modified to fit Cryogen.-->
    <meta charset="UTF-8">
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="images/ico/favicon.png">
    <!--[if IE]><![endif]-->
    {% style "css/buttons.css" %}
    {% style "css/menu.css" %}
    {% style "css/reset.css" %}
    {% style "css/style.css" %}
    {% style "css/typography.css" %}
    <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" 
          crossorigin="anonymous">
    <link rel="stylesheet" 
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/tomorrow-night-eighties.min.css" 
          crossorigin="anonymous">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<div id="left">

    <p id="logo">
        <a title="{{title}}" href="{{index-uri}}">
            <span class="fa fa-rocket"></span>
            <span class="text">Learning <br /> patterns</span>
        </a>
    </p>

    <p id="blurb">
    Thoughts by Will Furnass on research software, systems administration and teaching.
    </p>

    <div id="menucont" class="bodycontainer clearfix">
        <div class="menutitle">
            <p><span class="fa fa-reorder"></span><strong>Menu</strong></p>
        </div>
        <ul class="menu">
            <li {% if home %} class="active" {% endif %}><a title="Home" href="{{index-uri}}">Home</a></li>
            <li {% if archives %} class="active" {% endif %}><a title="Archives" href="{{archives-uri}}">Archives</a></li>
            {% if tags|not-empty %}
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}">Tags</a></li>
            {% endif %}
            {% for nav-page in navbar-pages %}
            <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
            </li>
            {% endfor %}
            <li><a title="RSS" href="{{rss-uri}}">RSS</a></li>
        </ul>
    </div>

    <div id="socialmedia" class="clearfix">
        <ul>
            <li><a title="GitLab" href="https://www.gitlab.com/willfurnass" rel="external"><span class="fab fa-gitlab"></span></a></li>
            <li><a title="GitHub" href="https://www.github.com/willfurnass" rel="external"><span class="fab fa-github"></span></a></li>
            <li><a title="Twitter" href="https://www.twitter.com/willfurnass" rel="external"><span class="fab fa-twitter"></span></a></li>
            <li><a title="Last.fm" href="https://www.last.fm/user/willfurnass" rel="external"><span class="fab fa-lastfm"></span></a></li>
        </ul>
    </div>

</div>

<div id="right" class="clearfix">
    {% block content %}
    {% endblock %}
<hr/>
<div id="footercont" class="clearfix">Copyright &copy; {{today|date:yyyy}} {{author}}
    <p>Powered by <a href="http://cryogenweb.org">Cryogen</a> | Free Website Template by <a title="free website templates" href="http://www.downloadwebsitetemplates.co.uk" rel="external">Download Website Templates</a></p>

</div>
</div>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
{% script "js/highlight.pack.js" %}
<script>hljs.initHighlightingOnLoad();</script>
{% script "js/scripts.js" %}
{% if post.klipse %} {{post.klipse|safe}} {% endif %}
{% if page.klipse %} {{page.klipse|safe}} {% endif %}
</body>
</html>
